In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
plt.rc('font', family='NanumMyeongjoOTF') # For MacOS
print(plt.rcParams['font.family'])

['NanumMyeongjoOTF']

In [41]:
df = pd.read_csv('소상공인시장진흥공단_상가(상권)정보_서울_202406.csv',encoding='UTF8')
df

/var/folders/6y/9r5t2yv91tv_xlty4q28bqn40000gn/T/ipykernel_54751/894687091.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('소상공인시장진흥공단_상가(상권)정보_서울_202406.csv',encoding='UTF8')

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0037544,영자's곱창,NaN,I2,음식,I201,한식,I20109,곱창 전골/구이,I56111,...,1121510100101690021003140,NaN,서울특별시 광진구 면목로 172,143900,4904,NaN,1,NaN,127.082832,37.568503
1,MA0101202210A0097916,호텔클로이,NaN,I1,숙박,I101,일반 숙박,I10102,여관/모텔,I55102,...,1114014500101300000014092,유성장,서울특별시 중구 을지로42길 11,100411,4561,NaN,NaN,NaN,127.005849,37.565708
2,MA0101202210A0096343,나라차중계태권도장,NaN,P1,교육,P106,기타 교육,P10601,태권도/무술학원,P85611,...,1135010600103640019010971,삼부프라자,서울특별시 노원구 한글비석로 242,139861,1734,NaN,NaN,NaN,127.076956,37.649226
3,MA0101202210A0093845,이상한스냅,NaN,M1,과학·기술,M113,사진 촬영,M11301,사진촬영업,M73303,...,1147010300100090004000001,백송주택,서울특별시 양천구 월정로 283,158822,7902,NaN,NaN,NaN,126.828832,37.542117
4,MA010120220805430767,토끼정,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,1150010500107740012000001,마커스빌딩,서울특별시 강서구 마곡동로 55,157805,7802,NaN,2,NaN,126.833022,37.560053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460432,MA0101202310A0038359,마스터부동산중개사무소,NaN,L1,부동산,L102,부동산 서비스,L10203,부동산 중개/대리업,L68221,...,1150010500107970001000001,퀸즈파크나인,서울특별시 강서구 공항대로 247,157805,7803,NaN,NaN,NaN,126.834810,37.559341
460433,MA0101202310A0035270,그릿뷰티아카데미학원,NaN,P1,교육,P106,기타 교육,P10625,기타 기술/직업 훈련학원,P85669,...,1126010100104720005000033,대도빌딩,서울특별시 중랑구 사가정로 409,131813,2214,NaN,1,NaN,127.090213,37.580598
460434,MA0101202310A0078533,최지원렌탈,NaN,S2,수리·개인,S205,가전제품 수리,S20501,가전제품 수리업,S95310,...,1154510200109660001000001,한양수자인아파트,서울특별시 금천구 시흥대로150길 6,153013,8540,NaN,2,NaN,126.899154,37.475441
460435,MA0101202310A0059884,매직노래연습장,NaN,R1,예술·스포츠,R104,유원지·오락,R10407,노래방,R91223,...,1153010200101390124016658,NaN,서울특별시 구로구 구로중앙로 23,152846,8312,NaN,지,NaN,126.891074,37.492071
460436,MA0101202310A0062853,곱창꾼,NaN,I2,음식,I201,한식,I20109,곱창 전골/구이,I56111,...,1154510300109540004016744,NaN,서울특별시 금천구 시흥대로26길 11-7,153861,8652,NaN,1,NaN,126.904333,37.442069

In [32]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104524 entries, 0 to 104523
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     104524 non-null  object
 1   상호명        104524 non-null  object
 2   지점명        1553 non-null    object
 3   상권업종대분류코드  104524 non-null  object
 4   상권업종대분류명   104524 non-null  object
 5   상권업종중분류코드  104524 non-null  object
 6   상권업종중분류명   104524 non-null  object
 7   상권업종소분류코드  104524 non-null  object
 8   상권업종소분류명   104524 non-null  object
 9   표준산업분류코드   104486 non-null  object
 10  표준산업분류명    104486 non-null  object
 11  시도코드       104524 non-null  int64
 12  시도명        104524 non-null  object
 13  시군구코드      104524 non-null  int64
 14  시군구명       104524 non-null  object
 15  행정동코드      104524 non-null  int64
 16  행정동명       104524 non-null  object
 17  법정동코드      104524 non-null  int64
 18  법정동명       104524 non-null  object
 19  지번코드       104524 non-null  int64
 20  대지구분코드     104524 non-null  int64
 21  대지구분명      104524 non-null  object
 22  지번본번지      104515 non-null  float64
 23  지번부번지      70350 non-null   float64
 24  지번주소       104524 non-null  object
 25  도로명코드      104523 non-null  float64
 26  도로명        104524 non-null  object
 27  건물본번지      104523 non-null  float64
 28  건물부번지      27814 non-null   float64
 29  건물관리번호     104522 non-null  object
 30  건물명        32057 non-null   object
 31  도로명주소      104524 non-null  object
 32  구우편번호      104524 non-null  int64
 33  신우편번호      104524 non-null  int64
 34  동정보        0 non-null       float64
 35  층정보        36068 non-null   object
 36  호정보        0 non-null       float64
 37  경도         104524 non-null  float64
 38  위도         104524 non-null  float64
dtypes: float64(9), int64(8), object(22)
memory usage: 31.1+ MB

In [34]:
df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [42]:
df['상권업종소분류명']

0              곱창 전골/구이
1                 여관/모텔
2              태권도/무술학원
3                 사진촬영업
4                백반/한정식
              ...
460432       부동산 중개/대리업
460433    기타 기술/직업 훈련학원
460434         가전제품 수리업
460435              노래방
460436         곱창 전골/구이
Name: 상권업종소분류명, Length: 460437, dtype: object

In [43]:
df[df['상권업종소분류명'] == '카페']

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
10,MA010120220805430763,카페숲,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1154510300109290010016890,NaN,서울특별시 금천구 시흥대로40길 129,153860,8647,NaN,1,NaN,126.909939,37.446689
66,MA010120220805433645,매머드커피외대,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1123011000102640223003312,NaN,서울특별시 동대문구 천장산로7길 16,130829,2449,NaN,1,NaN,127.056962,37.598493
68,MA010120220805433429,포르마레,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1174010800105340007007273,써니빌딩,서울특별시 강동구 성내로9길 35,134850,5397,NaN,1,NaN,127.125070,37.530474
111,MA010120220805435869,카페브릿지,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1156011000100220000000001,파크원,서울특별시 영등포구 여의대로 108,150875,7335,NaN,18,NaN,126.929094,37.525184
146,MA010120220805435782,더웨이유통할리스커피,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1114016200103680066007060,NaN,서울특별시 중구 다산로 114,100827,4597,NaN,2,NaN,127.010407,37.553952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460382,MA0101202310A0038401,빽다방빨래골,입구점,I2,음식,I212,비알코올,I21201,카페,I56221,...,1130510300100700004011731,서영프라자,서울특별시 강북구 삼양로 293,142874,1103,NaN,1,NaN,127.017708,37.629745
460413,MA0101202310A0036587,청23,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1144012100101130085011604,NaN,서울특별시 마포구 연희로 23,121816,3985,NaN,1,NaN,126.926523,37.560923
460421,MA0101202310A0041469,피트커피,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1174010200103430002000001,강동U1센터,서울특별시 강동구 고덕비즈밸리로 26,134803,5203,NaN,1,NaN,127.160262,37.565439
460424,MA0101202310A0044212,빽다방동,여의도점,I2,음식,I212,비알코올,I21201,카페,I56221,...,1156011000100430004037561,롯데캐슬아이비,서울특별시 영등포구 국제금융로 86,150937,7333,NaN,1,NaN,126.931779,37.520198
460426,MA0101202310A0040088,보광동커피,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1117013600102160103002846,NaN,서울특별시 용산구 장문로 90-1,140823,4395,NaN,1,NaN,126.999566,37.525973

In [48]:
df['상권업종소분류명'].value_counts()

부동산 중개/대리업       23470
백반/한정식           21332
카페               20201
경영 컨설팅업          18986
미용실              18160
                 ...
얼음 소매업              24
기타 회계 관련 서비스업       24
음반/비디오물 대여업         21
캠핑/글램핑              13
가축 사료 소매업           12
Name: 상권업종소분류명, Length: 247, dtype: int64

In [49]:
df[df['상호명'] == '유우링']

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
75635,MA010120220809831209,유우링,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1171010400100470000012352,NaN,서울특별시 송파구 백제고분로43길 4,138849,5621,NaN,1,NaN,127.110074,37.508016

In [50]:
df[df['상호명'] == '포동푸딩']

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
374126,MA010120220804838224,포동푸딩,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1117012800100400364012821,NaN,서울특별시 용산구 한강대로7길 23-9,140880,4380,NaN,1,NaN,126.961428,37.52431

In [53]:
df[df['상호명'] == '카페브릿지']

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
111,MA010120220805435869,카페브릿지,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1156011000100220000000001,파크원,서울특별시 영등포구 여의대로 108,150875,7335,NaN,18,NaN,126.929094,37.525184
302819,MA010120220803601653,카페브릿지,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1111016900100740038008765,성인빌딩,서울특별시 종로구 혜화로 10-3,110530,3076,NaN,3,NaN,127.000453,37.586621